*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg,#6a11cb,#2575fc);
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  width:700px;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(12px);
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
  text-align:center;
  color:white;
  margin-bottom:25px;
  font-size:35px;
}

.todo-input-grid,
.todo-grid{
  display:grid;
  grid-template-columns:2fr 1.3fr 100px;
  gap:15px;
  align-items:center;
}

.todo-input-grid{
  margin-bottom:20px;
}

.name-input,
.due-date-input{
  padding:12px;
  border:none;
  border-radius:10px;
  font-size:16px;
  outline:none;
}

.name-input:focus,
.due-date-input:focus{
  box-shadow:0 0 10px white;
}

.add-button{
  background:#00c853;
  color:white;
  border:none;
  border-radius:20px;
  padding: 12px 6px;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
}

.add-button:hover{
  background:#00a844;
  transform:scale(1.05);
}

.delete-button{
  background:#d50000;
  color:white;
  border:none;
  border-radius:10px;
  padding:10px;
  cursor:pointer;
  transition:.3s;
}

.delete-button:hover{
  background:#b71c1c;
  transform:scale(1.05);
}

.todo-grid{
  color:white;
  font-size:17px;
}

.todo-grid div{
  padding:12px;
  background:rgba(255,255,255,.15);
  border-radius:10px;
}

@media(max-width:750px){

.container{
  width:95%;
}

.todo-input-grid,
.todo-grid{
  grid-template-columns:1fr;
}

.add-button,
.delete-button{
  width:100%;
}

}